@mixin direction($components: null)
  $directions: (rtl, ltr)

  @if $components == null
    @each $direction in $directions
        .direction--#{$direction}
          $start: if($direction == rtl, right, left)
          $end: if($direction == rtl, left, right)
            
          direction: $direction
          @content($direction, $start, $end)
  @else
    @each $component in $components
      @each $direction in $directions
        .direction--#{$direction}.#{$component}
          $start: if($direction == rtl, right, left)
          $end: if($direction == rtl, left, right)
            
          direction: $direction
          @content($direction, $start, $end)